@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "تایید ایمیل";
    Layout = "~/Areas/Identity/pages/_AuthLayout.cshtml";

}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
