@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <nav >
                    <div class="nav nav-tabs">
                        <a class="nav nav-link col-md-6" asp-page="/Account/Login">ورود</a>
                        <a class="nav nav-link col-md-6" asp-page="/Account/Register">ثبت نام</a>
                    </div>
                </nav>
            </div>
            <div class="card-content m-4">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @RenderSection("Scripts",required: false)
            <script>
                $(function () {
                    const currentPage = location.pathname;
                    $('.nav-tabs a').each(function () {
                        const $this = $(this);
                        if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) !== -1) {
                            $this.addClass('active');
                        }
                    })
                })
            </script>

}